section#canchaTennis{
    height: 400px;
    width: 700px;
    background-color: #096F33;
    position: relative;
    margin-left: 25%;
    margin-top: 10%;
    display: none;
    border: 4px solid #1A3667;
}
article#linea {
    height: 100%;
    width: 4px;
    background-color: white;
    margin-left: 49%;
}


article.lineaP {
    height: 50%;
    width: 4px;
    background-color: white;
    margin-left: 25%;
    margin-top: 15%;
}

article.derecha{
    margin-left: 75%;
}

article.lineaHorizontal{
   background-color: red;
   height: 3px;
   width: 100%;
   margin-top: 15%;
}
article.abajo{
   margin-top: 44%;
}
article.lineaCen{
   background-color: red;
   height: 3px;
   width: 50%;
   margin-top: 30%;
   margin-left: 25%;
}

section#canchaTennis * {
    position: absolute;
}
